<!DOCTYPE html>
<html>

<head>
    <title>Radio teXno</title>
</head>

<body>
    <p>Techno Radio Station. To listen to our livestream please click the button</p>
    <button id="play-btn" onclick="playOrPause()">Play</button>
    <video id="my-video" width="640" height="360">
        <source src="https://regiocast.streamabc.net/regc-90s90stechno2195701-mp3-192-2408420">
    </video>
    <form action="localhost:5000/" method="post" enctype="multipart/form-data" http-equiv="Access-Control-Allow-Origin"
        content="*">
        <label for="mp3-file">Select an MP3 file to upload:</label>
        <input type="file" id="mp3-file" name="mp3-file">
        <input type="submit" value="Upload">
    </form>
    <script>
        var video = document.getElementById("my-video");
        var button = document.getElementById("play-btn");

        function playOrPause() {
            if (video.paused) {
                video.play();
                button.innerHTML = "Pause";
            } else {
                video.pause();
                button.innerHTML = "Play";
            }
        }
    </script>
</body>

</html>